@model List<Movie>

<div class="text-center">
    <h1 class="display-4">Peliculas</h1>
    <p>Top 10 Mejores Peliculas de Herramientas de Programacion</p>
</div>

<ol>
    @foreach (var item in Model)
    {
        <li><a asp-action="Detail" asp-route-id="@item.Code">@item.Name</a></li>
     } @* Generamos un enlace que nos mueve hacia la accion detail, y manda por parametro el codigo  *@
</ol>

<a asp-action="Create">Nueva Pelicula</a>